<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="fi">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Work in progress (royola)</title>
        <link href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
        <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
        <script src="../../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
        <link href="../../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../../static/fonts/css/font-awesome.min.css" th:href="@{/static/fonts/css/font-awesome.min.css}" />
        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Pacifico' rel='stylesheet' type='text/css'/>
        <!-- Custom Theme CSS -->
        <link href="../../static/css/custom.css" th:href="@{/static/css/custom.css}" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body background="../../static/img/bg.jpg" bgproperties="fixed">
        <div class="container-fluid">

            <div class="row">

                <div>
                    <div th:replace="fragments/navbar :: navbar">
                    </div>
                </div>
                <div class="teaser">    

                    <div sec:authorize="isAuthenticated()">
                        <div id="delete" class="pull-right">                          
                            <form th:action="@{/stories/delete/} + ${story.storyId}" method="post">
                                <button type="submit" class="btn button-royodele btn-xs">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                                </button>
                            </form>
                        </div>
                    </div>
                    <br></br>
                    <div class="pull-left">
                        <h3 class="single-story-title" id="title" th:text="${story.title}">Title</h3>
                    </div>
                    <div class="pull-right">
                        <p id="location" th:text="${story.location}">location</p>
                        <p id="date" th:text="${#calendars.format(story.storyDate,'dd/MM/yyyy HH:mm')}"></p>
                    </div>
                    <br /><br /><br /><br />
                    <div class="story-content" id="story" th:utext="${story.content}"></div>
                    <br/>
                    <div class="pull-left">
                        <p id="author" th:text="${story.author}">Anonymous</p>
                    </div>
                    <br></br>

                    <!-- COMMENT SECTION -->

                </div>
                
                
                <div th:each="comment : ${comments}">
                    
                    <p th:text="${comment.author}">kommentaattorin nimi</p>
                    <p th:text="${comment.body}">tähän kommenttia</p>
                    
                </div>
                
                
                
                <div class="teaser">
                
                <form method="POST" th:action="@{/stories/} + ${story.storyId}" accept-charset="UTF-8">                    

                    <textarea class="form-control" rows="5" name="body" placeholder="Kirjoita kommenttisi tähän." 
                              onkeypress="CheckLength()"></textarea>
                    <br></br>
                    <div><button type="submit" class="btn button-royola btn-block" value="Send" >Julkaise kommentti</button></div>
                </form>
                
                </div>
                

                <div class="teaser"> 
                    <p id="comment-date"  th:text="${#calendars.format(story.storyDate,'dd/MM/yyyy HH:mm')}"></p>
                    <table class="comment-teaser">
                        <tr>
                            <td class="author">Anonymous: </td>
                            <td class="comment">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ipsum eget risus dignissim mollis. Quisque tincidunt lectus eu dolor ullamcorper, eu blandit nulla condimentum. Phasellus ut dui consectetur, sodales urna vel, pharetra enim. Etiam volutpat auctor molestie. Quisque iaculis nibh vel sem posuere, a finibus elit suscipit.  </td>
                        </tr>
                    </table>
                    <p id="comment-date"  th:text="${#calendars.format(story.storyDate,'dd/MM/yyyy HH:mm')}"></p>
                    <table class="comment-teaser">
                        <tr class="comment-tr">
                            <td class="author">Anonymous: </td>
                            <td class="comment">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ipsum eget risus dignissim mollis. Quisque tincidunt lectus eu dolor ullamcorper, eu blandit nulla condimentum. Phasellus ut dui consectetur, sodales urna vel, pharetra enim. </td>
                        </tr>
                    </table>
                </div>

                <div th:replace="fragments/footer :: footer">
                    FOOTER HERE
                </div>
            </div>
        </div>
        <!-- Core JavaScript Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    </body>
</html>
