/* General Styles */
body {
    color:#fff;
    text-align:center;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
h1, h2 ,h3 ,h4, h5, h6 {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:100;
    margin: 1em 0 0 0;
}
h1{
    font-size: 4em;
}
h1.logo,h2.logo,h3.logo,h4.logo,h5.logo,h6.logo {
    font-family:Pacifico, Helvetica, Arial, sans-serif;
    padding: 40px;
}

.comments-title {

    margin: 0 0 20px 0;

}

.signup-title {

    margin: 50px 0 20px 0;
}

.add-comment-title {

    margin: 20px 0 20px 0;
}

.single-story-title {
    font-weight:100;
    font-family:Pacifico, Helvetica, Arial, sans-serif;
    margin-top: 15px;

}

.share-story-title {  
    font-weight:100;
    font-size: 30px;
    font-family:Pacifico, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    transform: scale(0.8);

}

.share-story-title:hover { 
    color: #dcdcdc;
    transform: scale(1);

}

a.logo {
    font-family:Pacifico, Helvetica, Arial, sans-serif;

}

.stress {
    font-weight:600;
    margin: 40px 0px 10px 0px;
}
.teaser {
    background: rgba(0, 0, 0, 0.33);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-bottom: 25px;
    border-radius: 3px;
}
@media only screen and (max-width: 640px)  {
    .teaser {width: 350px;}
}


/* Dividers */
hr.launchrocket {
    padding: 0;
    border: none;
    border-top: 1px solid #fff;
    text-align: center;
    opacity: .8;
    margin: 45px 0px 45px 0px;
}
hr.signup:after {
    font-family: FontAwesome;
    content: "\f0e0";
    display: inline-block;
    position: relative;
    top: -1.2em;
    font-size: 1em;
    padding: 0 0.25em;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 2;
}
hr.social:after {
    font-family: FontAwesome;
    content: "\f064";
    display: inline-block;
    position: relative;
    top: -1.2em;
    font-size: 1em;
    padding: 0 0.25em;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 2;
}

.story {
    text-align: left;
    position: relative;
    background-color: #ddd;
    min-height: 100px;
    max-width: 90%;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 5px 0px;
    border: 1px solid #666666;
    border-radius: 6px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a#author{
    text-align: left;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p#author{
    text-align: left;
    color: white;
    font-weight: bold;
}

a#author:hover {
    color: darkgrey;
}

p#date{

    color: white;
    font-style: italic;
    font-size: 80%;
}

p#comment-date{
    text-align: left;
    color: white;
    font-style: italic;
    font-size: 80%;
    margin: -4px 10px;
}

td.author {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    margin: 10px 10px;
}

td.comment {
    text-align: left;
}

tr.comment-tr {

}

.comment-teaser {
    background: rgba(0, 0, 0, 0.33);
    width: 666px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 3px;
    margin: 5px 3px;
}
@media only screen and (max-width: 640px)  {
    .comment-teaser {width: 320px;}
}

.story-content{
    color: white;
    text-align: left;
    -ms-word-break: keep-all;
    word-break: keep-all;

    position: relative;

    /* Non standard for webkit */

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}



.form-control {
    color: white;
    background: rgba(0, 0, 0, 0.33);
    resize: none;
    border-width: 0;
}

/* navbar */

.navbar-default {
    background-color: rgba(0, 0, 0, 0.33);
    border-color: #8e44ad;
    border-radius: 0;
    border-width: 0;
    max-height: 0;
}
.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 0.33);
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: lightgray;
}
.navbar-default .navbar-text {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: lightgray;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color:rgba(0, 0, 0, 0.33);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: rgba(0, 0, 0, 0.33);
}
.navbar-default .navbar-toggle {
    border: 0px solid #ffffff;
    border-color: lightgray;
    background-color: whitesmoke;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: lightgray;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.33);
}
.navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.33);
}
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background-color: rgba(0, 0, 0, 0.33);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        
        background-color: rgba(0, 0, 0, 0.33);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: rgba(0, 0, 0, 0.33);

    }
}

/* dropdown */

.dropdown-menu  {
    background-color: rgba(0, 0, 0, 0.33);
    color: lightgray;
    text-align: right;
}

.dropdown-menu.pull-right {   
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: lightgray;
}
.dropdown-menu > li > a {
    color: white;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;  
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: grey;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.33);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: grey;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* buttons */

.button-royola {
    border: 0px solid #ffffff;
    background: #4c9e85;
    background: -webkit-gradient(linear, left top, left bottom, from(#49a687), to(#4c9e85));
    background: -webkit-linear-gradient(top, #49a687, #4c9e85);
    background: -moz-linear-gradient(top, #49a687, #4c9e85);
    background: -ms-linear-gradient(top, #49a687, #4c9e85);
    background: -o-linear-gradient(top, #49a687, #4c9e85);
    background-image: -ms-linear-gradient(top, #49a687 0%, #4c9e85 100%);
    padding: 10px 15px;
    border-radius: 4px;
    text-shadow: #7ea4bd 0 1px 0;
    color: #ffffff;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;

}
.button-royola:hover {
    border: 0px solid #ffffff;
    text-shadow: #6e8d9e 0 1px 0;
    background: #5c9c82;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c9c7c), to(#5c9c82));
    background: -webkit-linear-gradient(top, #4c9c7c, #5c9c82);
    background: -moz-linear-gradient(top, #4c9c7c, #5c9c82);
    background: -ms-linear-gradient(top, #4c9c7c, #5c9c82);
    background: -o-linear-gradient(top, #4c9c7c, #5c9c82);
    background-image: -ms-linear-gradient(top, #4c9c7c 0%, #5c9c82 100%);
    color: #fff;
}
.button-royola:active {
    text-shadow: #293a45 0 1px 0;
    border: 0px solid #ffffff;
    background: #368f67;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c9982), to(#5c9c82));
    background: -webkit-linear-gradient(top, #4c9982, #368f67);
    background: -moz-linear-gradient(top, #4c9982, #368f67);
    background: -ms-linear-gradient(top, #4c9982, #368f67);
    background: -o-linear-gradient(top, #4c9982, #368f67);
    background-image: -ms-linear-gradient(top, #4c9982 0%, #368f67 100%);
    color: #fff;
}

.button-royodele {
    border: 0px solid #ffffff;
    background: rgba(0, 10, 10, 0.38);
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    vertical-align: text-top;
    margin: -25px -5px;
}

.button-royodele:hover {
    color: #B6D9BB;
}

.button-royodele:active {
    color: #4c9982;
}

.button-royoid {
    border: 0px solid #ffffff;
    background: rgba(0, 10, 10, 0.38);
    padding: 1px 6px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: text-top;
    margin: -25px -5px;
    font-weight: bold;
}

.button-royoid:hover {
    color: #B6D9BB;
}

.button-royoid:active {
    color: #4c9982;
}

.button-royonav {
    border: 0px solid #ffffff;
    background: rgba(0, 0, 0, 0.33);
    /*   background: -webkit-gradient(linear, left top, left bottom, from(#ff5757), to(#ff4c4c));
       background: -webkit-linear-gradient(top, #ff5757, #ff4c4c);
       background: -moz-linear-gradient(top, #ff5757, #ff4c4c);
       background: -ms-linear-gradient(top, #ff5757, #ff4c4c);
       background: -o-linear-gradient(top, #ff5757, #ff4c4c);
       background-image: -ms-linear-gradient(top, #ff5757 0%, #ff4c4c 100%);*/
    padding: 1px 6px;
    border-radius: 3px;
    text-shadow: #000000 0 1px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: helvetica, serif;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-group {
    margin: 9px 5px;
}

#Slider {

}
#Actual {
    background: silver;
    color: White;
    padding: 20px;
}
.slideup, .slidedown {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}
.slidedown {            
    max-height: 500px;
    max-width: 100%;


}

.footer {
    margin-top: 20px;
}