<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Custom Theme CSS -->
        <link href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
        <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
        <script src="../../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
        <link href="../../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../../static/fonts/css/font-awesome.min.css" th:href="@{/static/fonts/css/font-awesome.min.css}" />
        <link href="../../static/css/custom.css" th:href="@{/static/css/custom.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../../../static/css/custom.css" type="text/css" />

        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="story">
            <div th:each="story : ${stories}">


                <div class="teaser">    

                    <div id="storyId" class="pull-left">
                        <form th:action="@{/stories/} + ${story.storyId}" method="get">

                            <button type="submit" class="btn button-royoid btn-xs">
                                <p class="glyphicon glyphicon-comment" th:text="' '+${story.amountOfComments}" aria-hidden="true"></p>
                            </button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div id="delete" class="pull-right">                          
                            <form th:action="@{/stories/delete/} + ${story.storyId}" method="post">
                                <button type="submit" class="btn button-royodele btn-xs">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                                </button>
                            </form>
                        </div>
                    </div>
                    <br />
                    <div class="pull-left">
                        <h3 class="single-story-title" id="title" th:text="${story.title}">Title</h3>    
                    </div>

                    <div class="pull-right">
                        <p id="location" th:text="${story.location}">location</p>
                        <p id="date" th:text="${#calendars.format(story.storyDate,'dd/MM/yyyy HH:mm')}"></p>
                    </div>
                    <br /><br /><br /><br />
                    <div class="story-content" id="story" th:utext="${story.content}"></div>
                    <br/>
                    <div class="pull-left">
                        <p id="author" th:href="@{/users/} + ${personId}" th:text="${story.author}">Anonymous</p>
                    </div>
                    <br />

                </div>
            </div>
        </div>
    </body>
</html>
